---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main>
            <h1>👨‍💻 Hola, soy Hardcode275!</h1>
            <p>
                Bienvenido a mi portafolio personal. Soy un desarrollador de software con experiencia en
                tecnologías como JavaScript, React, Node.js, y más. Aquí podrás encontrar información sobre
                mi experiencia, proyectos y cómo contactarme.
            </p>
            <h2>Sobre Mí</h2>
            <p>
                Soy un apasionado por la tecnología y la programación. Me encanta resolver problemas y
                crear soluciones eficientes. Tengo experiencia trabajando en proyectos tanto individuales
                como en equipo, y siempre estoy buscando aprender y mejorar mis habilidades.
            </p>
            <h2>Proyectos</h2>
            <ul>
                <li>
                    <strong>Proyecto 1:</strong> Crowdfunding. 
                    <a href="https://github.com/Fernenri33/TANKESV-PROYECT.git">Ver en GitHub</a>
                </li>
                <li>
                    <strong>Proyecto 2:</strong> Demo error l402. 
                    <a href="https://github.com/Hardcode275/l402demo-Sprintboot.git">Ver en GitHub</a>
                </li>
                <li>
                    <strong>Proyecto 3:</strong> Twitter-follow. 
                    <a href="https://github.com/Hardcode275/Twitter-Follow.git">Ver en GitHub</a>
                </li>
            </ul>
            <h2>Contacto</h2>
            <p>
                Si deseas contactarme, puedes enviarme un correo a <a href="https://mail.google.com/mail/?view=cm&fs=1&to=hrcode275@gmail.com&su=Hey%20HardCode!">hrcode275@gmail.com</a> 
                o escribirme por  <a href="https://t.me/hr_275">Telegram</a>.
            </p>
        </main>
        <Footer />
    </body>
</html>
